// Mixin: Responsive $start, $end range $breakpoint resizing mixin.

@use "sass:list" as list;
@use "sass:math" as math;
@use "variables" as *;

@mixin range($property, $start, $end) {
	@each $width in $breakpoints {
		$value: ();
		@each $start, $end in list.zip($start, $end) {
			$percentage: math.div($width, math.max($breakpoints...));
			$range: calc($start + ($end - $start) * $percentage);
			$value: list.append($value, $range);
		}
		@container (min-width: #{$width}) {
			#{$property}: $value;
		}
	}
	@if list.length($start) != list.length($end) {
		@error "Range parameters $start and $end must be the same length.";
	}
}