// Range: Responsive $start, $end range $breakpoints resizing.

@use "sass:list" as list;
@use "sass:math" as math;
@use "variables" as *;

@function range($start, $end) {
	// Throw error if $start and $end differ in length:
	@if list.length($start) != list.length($end) {
		@error "Range parameters $start and $end must be the same length.";
	}
	// Transform $start, $end pairs into single range value:
	$value: ();
	@each $start, $end in list.zip($start, $end) {
		$range: if($end == $start, $end,
			calc($start + ($end - $start) * var($property)),
		);
		$value: list.append($value, $range);
	}
	// Return range $value:
	@return $value;
}

:where(:root, body) {
	container-type: inline-size;
}

@each $width in $breakpoints {
	@container (min-width: #{$width}) {
		* {
			#{$property}: math.div($width, math.max($breakpoints...));
		}
	}
}