// Range: Responsive $start, $end range $-breakpoints resizing.

@use "sass:math" as math;

$-breakpoints: 0px, 180px, 320px, 640px, 960px, 1280px, 1440px !default;
$-property: --range !default;

@function range($start, $end) {
	@return calc($start + ($end - $start) * var($-property));
}

:where(:root, :root > *) {
	container-type: inline-size;
}

:where(:root > *) {
	@each $width in $-breakpoints {
		@container (min-width: #{$width}) {
			#{$-property}: math.div($width, math.max($-breakpoints...));
		}
	}
}